<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Tu l'as voulu, le voilà ! !</h1>
    <p> L'auteur de ce potin est <strong><%= gossips [0]%></strong> et son potin est le suivant <i><strong><%= gossips [1]%></strong></i></p>
